.App {
  position:relative;
  text-align: center;
  margin: 0px !important;
}
.ant-notification-notice-icon-error,.ant-notification-notice-icon-success{
  display: none !important;
}
.notification-success{
  width: fit-content !important;
  line-height: 45px !important;
  border-radius: 7.5px !important;
  padding-left: 0px !important;
  background-color: green !important;
}
.notification-failure{
  line-height: 45px !important;
  border-radius: 7.5px !important;
  padding-left: 0px !important;
  background-color: red !important;
}
.ant-notification-notice-close{
  color: white !important;
}
.icon-close ,.icon-success{
  font-size: 20px;
}
.ant-notification-notice-message{
  margin-left: 30px !important;
  margin-right:20px !important;
  color: white !important;
  font-size: 12.25px !important;
  line-height: 38px !important;
}
.Dashboard,.edit{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.welcome1{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
  padding: 50px;
  width: 300px;
  border: 1px solid black;
  border-radius: 25px;
  z-index: 1;
  position: relative;
}
.welcome,.editdetails{
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
  padding: 30px;
  width: 50vh;
  border: 1px solid black;
  border-radius: 25px;
  z-index: 1;
  position: relative;
}

.logininput,.editinput{
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

.logininput{
  height: 40px;
  width: 100%;
}
button{
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.text1{
  font-size: 35px;
  padding-bottom: 20px;
  margin: 0px;
  color: white;
}
.site-page-header-ghost-wrapper {
  padding: 2vh;
  height: 10vh;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}
.address{
  text-align: left;
  line-height: 20px;
}
.address-body{
  padding-left: 30px;
}
*{
  margin: 0px;
}
.icons{
  display: flex;
  flex-direction: row;
}
.facebook,.slack,.instagram{
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 10px;
}
.editprofile{
  text-align: right;
  cursor: pointer;
}
#slackId{
  margin-left: 10px;
} */